---

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Ensure compatibility with IE -->
		<meta name="description" content="A simple boilerplate HTML page">
		<meta name="author" content="Your Name">
		<title>Astro</title>
	</head>
	<body>
		<h1>My Astro Site</h1>
	</body>
</html>
